main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.menu {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 480px;
}
