.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  text-decoration: none;
  display: block;
  color: #8585ad;
}

.link_active {
  color: #f2f2f3;
}

.button {
  text-decoration: none;
  display: block;
  color: #8585ad;
  background-color: unset;
  border: none;
  width: 150px;
}

.button:hover {
  cursor: pointer;
}

.personalData {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.personalDataContainer {
  display: flex;
  max-width: 700px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 45px;
}

.profileText {
  display: flex;
  text-align: center;
  max-width: 520px;
}

@media (max-width: 450px) {
  .profileText {
    max-width: 300px;
  }
  .personalDataContainer {
    margin-left: 70px;
    flex-direction: column;
  }
  .personalData {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .personalData {
    flex-wrap: wrap;
  }
}
