.columns {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

@media (max-width: 500px) {
  .columns {
    flex-direction: column;
  }
}

.column {
  display: inline;
  min-width: 50%;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 180px;
  overflow: hidden;
}

.title {
  margin: 0;
  text-align: left;
  max-width: 300px;
}

.list_item {
  text-align: left;
  min-width: 50%;
}

.content {
  text-align: left;
  text-shadow: 2px 2px 5px grey;
  font-size: clamp(2.8125rem, 2.1875rem + 3.125vw, 5rem);
}
