.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 280px;
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

.addButton {
  width: 230px;
  justify-content: center;
}
